/* StepMenu.module.css */

.stepBox {
  width: 40px;
  height: 40px;
}

.stepCompleted {
  background-color: #6bff72;
  color: #fff;
}
  
.stepIncomplete {
  background-color: #f0f0f0;
  color: #aba9a9;
}

.stepInprocess {
  background-color: #0d6efd;
  color: #fff;
}

.stepIncomplete span {
  color:#aba9a9;
}

.stepInprocess span {
  color: #0d6efd;
}

.stepCompleted span {
  color: #009107;
}